<!DOCTYPE html>
<html lang="ru">

<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-18139141098"></script>
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-18139141098/C3AJCIqMmKccEOqntclD',
      'value': 1.0,
      'currency': 'CZK',
      'event_callback': callback
  });
  return false;
}
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-18139141098');
</script>

	<titel>Global Medical Clinic</titel>

</head>
<body>
    
</body>
</html>